@model List<Company>
@{
    ViewData["Title"] = "Empresas";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobre</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Empresa de fazer alguma coisa</td>
      <td>12312312312312</td>
      <td>FECHADO</td>
    </tr>
    @foreach (var company in Model) {
      <tr>
        <th scope="row">1</th>
        <td>@company.nome</td>
        <td>@company.tipo</td>
        <td>@company.cnpj</td>
        <td>@company.situacao</td>
      </tr>
    }
  </tbody>
</table>
