@model Company

<button type="button" class="btn btn-primary" asp-controller="Home" asp-action="Privacy">Voltar</button>
@if (ViewData.ContainsKey("errorMessage"))
{
  <p>@ViewData["errorMessage"]</p>
}
else
{

  <div class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Nome</label>
    <p><b>@ViewData["nome"]</b></p>
  </div>
  <div class="col-md-6">
    <label class="form-label">Tipo</label>
    <p><b>@ViewData["tipo"]</b></p>
  </div>
  <div class="col-6">
    <label class="form-label">CEP</label>
    <p><b>@ViewData["cep"]</b></p>
  </div>
  <div class="col-6">
    <label class="form-label">Estado</label>
    <p><b>@ViewData["uf"]</b></p>
  </div>
  <div class="col-md-6">
    <label class="form-label">Capital Social</label>
    <p><b>@ViewData["capital_social"]</b></p>
  </div>
  <div class="col-md-6">
    <label class="form-label">Situação</label>
    <p><b>@ViewData["situacao"]</b></p>
  </div>
  <div class="col-md-6">
    <label class="form-label">Telefone</label>
    <p><b>@ViewData["telefone"]</b></p>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Salvar Empresa</button>
  </div>
</div>
}
