@model Company

@{
}
<a type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Index">Voltar</a>
@if (ViewData.ContainsKey("errorMessage") || string.IsNullOrWhiteSpace(ViewData["nome"] as string))
{
  <p>@ViewData["errorMessage"]</p>
}
else
{

  <form method="post" class="row g-3">
  <div class="col-md-6">
        <label class="form-label">Nome</label>
        <input type="text" name="Nome" class="form-control" value="@ViewData["nome"]" readonly />
    </div>
    <div class="col-md-6">
        <label class="form-label">Tipo</label>
        <input type="text" name="Tipo" class="form-control" value="@ViewData["tipo"]" readonly />
    </div>
    <div class="col-6">
        <label class="form-label">CEP</label>
        <input type="text" name="Cep" class="form-control" value="@ViewData["cep"]" readonly />
    </div>
    <div class="col-6">
        <label class="form-label">Estado</label>
        <input type="text" name="Uf" class="form-control" value="@ViewData["uf"]" readonly />
    </div>
    <div class="col-md-6">
        <label class="form-label">Capital Social</label>
        <input type="text" name="CapitalSocial" class="form-control" value="@ViewData["capital_social"]" readonly />
    </div>
    <div class="col-md-6">
        <label class="form-label">Situação</label>
        <input type="text" name="Situacao" class="form-control" value="@ViewData["situacao"]" readonly />
    </div>
    <div class="col-md-6">
        <label class="form-label">Telefone</label>
        <input type="text" name="Telefone" class="form-control" value="@ViewData["telefone"]" readonly />
    </div>
    <div class="col-md-6">
        <label class="form-label">CNPJ</label>
        <input type="text" name="Cnpj" class="form-control" value="@ViewData["cnpj"]" readonly />
    </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" id="btnSubmit" asp-controller="Home" asp-action="SaveCompany">Salvar
      Empresa</button>
  </div>
</form>
}
<script>
  console.log("@ViewData["nome"]" === "")
</script>